* {
  margin:0;
   font-family: Arial, sans-serif;
}

/*Pagina index*/

.principal{
   margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
  height: 100vh;
  width: 100%;

}

.login {
  width: 40%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  
}


.texto h1 {
  font-size: 32px;
  color: #000;
}

.formulario{
  display: flex;
  flex-direction: column;
  gap: 30px;

}

.campo {
  font-size: 16px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

input{
  width: 330px;
  height: 40px;
  
}
.boton {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.boton-login{
  width: 340px;
  height: 40px;
  background-color: #39810D;
}


.foto {
  width: 60%;
  display: flex;
  flex-direction: column;
}

.img_foto {
  width: 100%;
  height: 100vh; 

}

 /*Pagina select*/

.container {
  display: flex;
  height: 100vh; 
}

.container a{
  flex:1;
  
}

.container img{
  width: 100%;
  height: 100%;
}

.mujer, .hombre{
  display: flex;
  align-items: center;
  justify-content: center;
}

.palabra{
  position: absolute;
  transform: rotate(270deg);
  font-size: 5vw;
  font-weight: bold;
  pointer-events: none; 
}

/*Pagina mujer*/

.encabezado {
  position: absolute;  
  width: 96%;
  padding-top: 2%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: transparent;
  color: white;
  z-index: 20;         
}

.navegador {
  list-style: none;
  display: flex;
}
.navegador :hover{
  text-decoration: underline;
}

.navegador a {
  text-decoration: none;
  color: #555;
  font-weight: bold;
}

.perfil_usuario {
  display: flex;
  align-items: center;
  gap: 10px;
}

.perfil_usuario img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}


.rebajas {
  position: relative;      /* Para poder posicionar el texto encima */
  width: 100%;
  text-align: center;
  color: white;
  
}

.rebajas-img {
  width: 100%;
  height: auto;            /* Mantiene la proporción original */
  display: block;          /* Evita espacios debajo de la imagen */
}

.rebajas-texto {
  display: flex;
  flex-direction: column; /* apila h1 y p verticalmente */
  align-items: center;    /* centra horizontalmente */
  gap: 25px;              /* espacio entre h1 y p */
  position: absolute;
  top: 75%;               /* ajusta verticalmente */
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}



